footer.footer
  img.footer__logo( src="/img/logo-green.png" alt="Natours logo" )
  ul.footer__nav
    li: a(href="#") About us
    li: a(hrhref="#") Download apps
    li: a(hrhref="#") Become a guide
    li: a(hrhref="#") Careers
    li: a(hrhref="#") Contact
  p.footer__copyright &copy; by Jonas Schmedtmann. All rights reserved.
